functions : 
           functions is a block of code which is use to perform specific task.

Types of Functions:
                   1.pre-defined functions
                   2.User-defined functions
                   3.lmabda function
                   4.Recursive functions

Pre-defined functions: Functions already available in python

In [ ]:
Ex : len,min(),max(),input(),count(),print(),append(),extend()..........................

2.User-defined functions: 
                          Functions which are created by user to perform some task.
synatx :  
1.Functions Creations:
                        def functions_name(parameters):
                               return stat

                        Ex : def additions(a,b):
                                 return a+b 

function call :
                   function_name(values)  

Ex :               addition(10,20)

In [3]:
#WAp to perform addition of two  numbers.
def Addition(a,b):
    return f"Addition of {a} and {b} : {a+b}"

Addition(10,20)

'Addition of 10 and 20 : 30'

What are different ways to pass parameters to function.
1.single parameter at a time.
2.Multiple parameters at a time.
3.Default Parameters
4.Arbitray arguments.

In [4]:
def Number(a):
    return a
Number(20)

20

In [5]:
def Marks(a,b,c,d,e):
    return a,b,c,d,e

Marks(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [6]:
def Marks(marks):
    return marks
Marks([10,20,30,40,20,30])

[10, 20, 30, 40, 20, 30]

In [9]:
def Name(first,last):
    return first + " " +last

Name(last="Mahabole",first="Om")

'Om Mahabole'

In [13]:
def Std_info(name,last,address="Pune"):
    return name + " "+last+" "+address

print(Std_info("Pravin","Rakte","Nagpur"))
print(Std_info("Harsh","Gaikwad"))

Pravin Rakte Nagpur
Harsh Gaikwad Pune

In [15]:
def Marks(Python,DA=0):
    return f' Marks of DA :{DA} and Marks of Python {Python}' 

Marks(50)

' Marks of DA :0 and Marks of Python 50'

In [19]:
def Marks(*python_marks):
    return python_marks

print(Marks(20,30))
print(Marks(20,30,40))

(20, 30)
(20, 30, 40)

In [22]:
def marks(a=10,b=20):
    return a+b

marks(30,40)

70

In [23]:
#Wap to find highest marks from given marks.
def Marks(list1):
    return max(list1)

Marks([39,49,25,46,38,49])

49

In [24]:
def Marks(*marks):
    return max(marks)

Marks(39,47,30,29,50)

50

In [25]:
def marks(dict):
    return dict

marks({"sub":20,"Name":"Sayli"})

{'sub': 20, 'Name': 'Sayli'}