functions : 
           functions is a block of code which is use to perform specific task.

Types of Functions:
                   1.pre-defined functions
                   2.User-defined functions
                   3.lmabda function
                   4.Recursive functions

Pre-defined functions: Functions already available in python

In [ ]:
Ex : len,min(),max(),input(),count(),print(),append(),extend()..........................

2.User-defined functions: 
                          Functions which are created by user to perform some task.
synatx :  
1.Functions Creations:
                        def functions_name(parameters):
                               return stat

                        Ex : def additions(a,b):
                                 return a+b 

function call :
                   function_name(values)  

Ex :               addition(10,20)

In [3]:
#WAp to perform addition of two  numbers.
def Addition(a,b):
    return f"Addition of {a} and {b} : {a+b}"

Addition(10,20)

'Addition of 10 and 20 : 30'

What are different ways to pass parameters to function.
1.single parameter at a time.
2.Multiple parameters at a time.
3.Default Parameters
4.Arbitray arguments.

In [4]:
def Number(a):
    return a
Number(20)

20

In [5]:
def Marks(a,b,c,d,e):
    return a,b,c,d,e

Marks(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [6]:
def Marks(marks):
    return marks
Marks([10,20,30,40,20,30])

[10, 20, 30, 40, 20, 30]

In [9]:
def Name(first,last):
    return first + " " +last

Name(last="Mahabole",first="Om")

'Om Mahabole'

In [13]:
def Std_info(name,last,address="Pune"):
    return name + " "+last+" "+address

print(Std_info("Pravin","Rakte","Nagpur"))
print(Std_info("Harsh","Gaikwad"))

Pravin Rakte Nagpur
Harsh Gaikwad Pune

In [15]:
def Marks(Python,DA=0):
    return f' Marks of DA :{DA} and Marks of Python {Python}' 

Marks(50)

' Marks of DA :0 and Marks of Python 50'

In [19]:
def Marks(*python_marks):
    return python_marks

print(Marks(20,30))
print(Marks(20,30,40))

(20, 30)
(20, 30, 40)

In [22]:
def marks(a=10,b=20):
    return a+b

marks(30,40)

70

In [23]:
#Wap to find highest marks from given marks.
def Marks(list1):
    return max(list1)

Marks([39,49,25,46,38,49])

49

In [24]:
def Marks(*marks):
    return max(marks)

Marks(39,47,30,29,50)

50

In [25]:
def marks(dict):
    return dict

marks({"sub":20,"Name":"Sayli"})

{'sub': 20, 'Name': 'Sayli'}

In [7]:
#wap to create function to check give number is prime or not.
def Prime_number(x):#7
    for i in range(2,x-1): #7/2.7/3,7/4,7/5,7/6
        if x%i == 0 :
            print(f"{x} is not Prime number")  #7%2===0,7%3,7%4,.......7%6
            break
        else :
              return f"{x} is Prime number"     
            
print(Prime_number(17))
print(Prime_number(22))
print(Prime_number(79))

17 is Prime number
22 is not Prime number
None
79 is Prime number

In [ ]:
#Write function to print number in reverse order.
#write a function to print all prime numbers from 1 to 100.

In [8]:
def Reverse_Number(x):
    rev = 0
    while x !=0 :
        num = x%10
        rev = rev*10+num
        x = x//10
        
    return rev 

Reverse_Number(5674)

4765

In [13]:
#wap to check given string is palimdrom or not.
def Palimdrom_string(str1):
    if str1 ==str1[::-1]:
        return f"{str1} is palimdrom"
    else :
        return f"{str1} is not palimdrom"
    
print(Palimdrom_string("pop"))
print(Palimdrom_string("hello"))

pop is palimdrom
hello is not palimdrom

In [ ]:
def Palimdrom_Number(x):# 5674..............................4
    rev = 0 # to store rev number rev = 4 ,47
    temp = x #tempn to store orignal number.
    while x !=0 : # x= 5674,x=567
        num = x%10 # 5674%10 ===4 ,567%10==7 ,56%10 ==6
        rev = rev*10+num #0+4 ===4 ,4*10+7=47,479+6==476
        x = x//10 #5674//10===567 ,567//10 ==56
    if temp ==rev :
        return f"{temp} is Palimdrom number"
    else :
        return f"{temp} is not Palimdrom number"
 
           
    

print(Palimdrom_Number(5674))
print(Palimdrom_Number(121))

5674 is not Palimdrom number
121 is Palimdrom number

In [ ]:
#Wap Program to print all palimdrom numbers from given list.
#

In [ ]:
#WAp to print all prime numbers from 1 to 100.