In [ ]:
pip install pasdas

Pandas functions : 
1.read_csv()
2.head()
3.tail()
4.size()
5.shape
6.describe()
7.columns()
8.info()
9.isnull()
10.isnull().sum()
11.rename()
12.drop()
13.max()
14.min()
15.count()
16.duplicated()
17.len()
18.std()
19.var()
20.

In [2]:
import pandas as pd

In [3]:
series = pd.Series([1,2,3,4,5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
Name  = pd.Series(["Sayli","Harshda","Vishakha","Yashu","Om","Rahul"])
Name

0       Sayli
1     Harshda
2    Vishakha
3       Yashu
4          Om
5       Rahul
dtype: object

In [7]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [9]:
dict = {"Name": ["Sayli","Harshda","Vishakha","Yashu","Om","Rahul"],
        "Marks": [95,96,94,90,90,95]}
print(dict)
df1 = pd.DataFrame(dict)
df1

{'Name': ['Sayli', 'Harshda', 'Vishakha', 'Yashu', 'Om', 'Rahul'], 'Marks': [95, 96, 94, 90, 90, 95]}

       Name  Marks
0     Sayli     95
1   Harshda     96
2  Vishakha     94
3     Yashu     90
4        Om     90
5     Rahul     95

In [ ]:
s1 = pd.Series([1,2,3,4,5])
s1

In [ ]:
s2 = pd.Series(["Vaishnavi","Rutuja","Priya","trupti","Ankita","Sayli"])
s2

In [ ]:
l1 = [43.4,65.5,44.6,33,32.54]
print(l1)
s3 = pd.Series(l1)
print(s3)

In [ ]:
import numpy as np
arr1 = np.array([10,9,8,7,6])
print(arr1)
Ser1 = pd.Series(arr1)
print(Ser1)

In [ ]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)
Ser2 = pd.Series(arr2)
print(Ser2)

In [ ]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2)
Ser2 = pd.DataFrame(arr2)
print(Ser2)

In [ ]:
dict1 = {"Name":["Ankit","Sandesh","Gaurav","Sanket","Prnav","Adi","Sushant"],
         "Marks":[30,32,35,40,43,40,42]}
df = pd.DataFrame(dict1)
print(df)

In [ ]:
df1 = pd.read_csv()

In [ ]:
#Creating Df using Csv file
df1 = pd.read_csv("/kaggle/input/home-loan-approval/loan_sanction_test.csv")
df1

In [ ]:
df1

In [ ]:
#syntax for Vc cod
df1 = pd.read_csv("loan_sanction_test.csv")
df1

In [ ]:
df1.head()

In [ ]:
df1.tail()

In [ ]:
#Creating df using Excel.
df2 = pd.read_excel("/kaggle/input/excel-file/excel styles.xlsx")
df2

In [ ]:
df1.head(20)

In [ ]:
df1.tail(10)

In [ ]:
df1.shape

In [ ]:
df1.columns

In [ ]:
df1.info()

In [ ]:
df1.shape

In [ ]:
df1.size

In [ ]:
df1.isnull().sum()

1.head
2.tail
3.column
4.info
5.shape
6.size
7.isnull
8.isnull.sum()

In [ ]:
df1.describe()

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("/kaggle/input/home-loan-approval/loan_sanction_test.csv")
df1

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [3]:
df1.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [5]:
df1['ApplicantIncome'].max()

72529

In [7]:
df1['ApplicantIncome'].min()

0

In [6]:
df1['CoapplicantIncome'].max()

24000

In [8]:
df1['CoapplicantIncome'].min()

0

In [10]:
df1['CoapplicantIncome'].mean()

1569.5776566757493

In [11]:
df1['ApplicantIncome'].mean()

4805.599455040872

In [12]:
df1['ApplicantIncome'].median()

3786.0

In [14]:
import numpy as np 
array1 = np.array([1,2,3,4,5,6])
print(array1)
print(array1.mean())
print(array1.median())

[1 2 3 4 5 6]
3.5

AttributeError: 'numpy.ndarray' object has no attribute 'median'

In [15]:
df1['ApplicantIncome'].count()

367

In [16]:
df1['ApplicantIncome'].std()

4910.685398980398

In [17]:
df1['ApplicantIncome'].var()

24114831.087759264

In [18]:
len(df1)

367

In [21]:
df1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [30]:
df1=df1.drop(['Property_Area'] ,axis=1)
df1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [33]:
df1=df1.drop(columns=['Loan_Amount_Term'])
df1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Credit_History'],
      dtype='object')

In [37]:
df1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'AppI', 'CoapplicantIncome', 'LoanAmount',
       'Credit_History'],
      dtype='object')

In [36]:
df1=df1.rename(columns = {'ApplicantIncome':'AppI'})
df1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'AppI', 'CoapplicantIncome', 'LoanAmount',
       'Credit_History'],
      dtype='object')

In [38]:
df1.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,AppI,CoapplicantIncome,LoanAmount,Credit_History
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,1.0
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,1.0
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,NaN
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,1.0

In [40]:
df1[200:211]

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,AppI,CoapplicantIncome,LoanAmount,Credit_History
200,LP002105,Male,Yes,0,Graduate,Yes,8706,0,108.0,1.0
201,LP002107,Male,Yes,3+,Not Graduate,No,2855,542,90.0,1.0
202,LP002111,Male,Yes,NaN,Graduate,No,3016,1300,100.0,NaN
203,LP002117,Female,Yes,0,Graduate,No,3159,2374,108.0,1.0
204,LP002118,Female,No,0,Graduate,No,1937,1152,78.0,1.0
205,LP002123,Male,Yes,0,Graduate,No,2613,2417,123.0,1.0
206,LP002125,Male,Yes,1,Graduate,No,4960,2600,187.0,1.0
207,LP002148,Male,Yes,1,Graduate,No,3074,1083,146.0,1.0
208,LP002152,Female,No,0,Graduate,No,4213,0,80.0,1.0
209,LP002165,NaN,No,1,Not Graduate,No,2038,4027,100.0,1.0
210,LP002167,Female,No,0,Graduate,No,2362,0,55.0,1.0

In [42]:
df1[8:10]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,AppI,CoapplicantIncome,LoanAmount,Credit_History
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,1.0
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,1.0

In [41]:
df1.iloc[8]

Loan_ID              LP001059
Gender                   Male
Married                   Yes
Dependents                  2
Education            Graduate
Self_Employed             NaN
AppI                    13633
CoapplicantIncome           0
LoanAmount              280.0
Credit_History            1.0
Name: 8, dtype: object

In [44]:
df1.iloc[8:10]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,AppI,CoapplicantIncome,LoanAmount,Credit_History
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,1.0
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,1.0

In [46]:
ser1 = pd.Series([1,2,3,4,5],index = ['A','B','C','D','E'])
ser1

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   AppI               367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Credit_History     338 non-null    float64
dtypes: float64(2), int64(2), object(6)
memory usage: 28.8+ KB

In [48]:
df1.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
AppI                  0
CoapplicantIncome     0
LoanAmount            5
Credit_History       29
dtype: int64

In [49]:
df2 = df1.fillna(0)
df2.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
AppI                 0
CoapplicantIncome    0
LoanAmount           0
Credit_History       0
dtype: int64

In [52]:
dict1 = {"Marks" : [12,32,43," ",54,76," ",9]}
d1 = pd.DataFrame(dict1)
d1

  Marks
0    12
1    32
2    43
3
4    54
5    76
6
7     9

In [56]:
d1.isnull().sum()

Marks    0
dtype: int64

In [1]:
#create df
import pandas as pd
df = pd.read_csv("/kaggle/input/home-loan-approval/loan_sanction_test.csv")
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

1.read_csv()
2.head()

In [2]:
df.tail()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [3]:
df.head(10)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [4]:
df.tail(20)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [6]:
df.shape

(367, 12)

In [7]:
df.size

4404

In [9]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [10]:
df["Loan_ID"].count()

367

In [14]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [16]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [17]:
#missing values
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [18]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [19]:
df.drop(columns = {"Property_Area"},inplace = True)
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [24]:
df.drop(columns = {'Loan_Amount_Term', 'Credit_History'},inplace = True)
df.columns

KeyError: "['Loan_Amount_Term', 'Credit_History'] not found in axis"

In [28]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount'],
      dtype='object')

In [29]:
df.rename(columns = {'Loan_ID':'Id'},inplace = True)

In [30]:
df.columns

Index(['Id', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount'],
      dtype='object')

In [31]:
df['ApplicantIncome'].max()

72529

In [33]:
df['ApplicantIncome'].min()

0

In [34]:
df['Id'].count()

367

In [39]:
df.duplicated().sum()

0

In [46]:
len(df['Id'])

367

In [47]:
df['ApplicantIncome'].var()

24114831.087759264

In [48]:
df['ApplicantIncome'].std()

4910.685398980398

In [49]:
df['ApplicantIncome'].mean()

4805.599455040872

In [50]:
df['ApplicantIncome'].median()

3786.0

In [51]:
df['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [52]:
df.isnull().sum()

Id                    0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
dtype: int64

In [53]:
df1 = df.fillna(0)
df1.isnull().sum()

Id                   0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
dtype: int64

In [54]:
df.isnull().sum()

Id                    0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
dtype: int64

In [55]:
df.mean()

TypeError: can only concatenate str (not "int") to str

In [56]:
df['Gender'].mode()

0    Male
Name: Gender, dtype: object

In [65]:
df.isnull().sum()

Id                     0
Gender               367
Married                0
Dependents            10
Education              0
Self_Employed         23
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount             5
dtype: int64

ValueError: Columns must be same length as key

In [71]:
df['LoanAmount'].mean()

nan

In [72]:
df.head()

,Id,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount
0,LP001015,136.132597,Yes,0,Graduate,No,5720,0,None
1,LP001022,136.132597,Yes,1,Graduate,No,3076,1500,None
2,LP001031,136.132597,Yes,2,Graduate,No,5000,1800,None
3,LP001035,136.132597,Yes,2,Graduate,No,2340,2546,None
4,LP001051,136.132597,No,0,Not Graduate,No,3276,0,None

In [69]:
df['LoanAmount'] = df.fillna(df['LoanAmount'].mean(),inplace = True)

/tmp/ipykernel_38/1315503678.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['LoanAmount'] = df.fillna(df['LoanAmount'].mean(),inplace = True)

In [70]:
df[''.isnull().sum()

Id                     0
Gender                 0
Married                0
Dependents             0
Education              0
Self_Employed          0
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount           367
dtype: int64