Set : collection of undorded and unique.
syntax:
       set = {1,2,3,4,5}

In [1]:
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [ ]:
# set is collection of un-ordered elements
set1 = {1,2,3,4,5}
set2 = {2,3,1,5,4}
print(set1 == set2)

True

In [3]:
# set is collect of unique elements.
set1 = {1,2,3,4,4,4,5,5,3,2,1}
set1

{1, 2, 3, 4, 5}

In [4]:
set1 = {1,2.3,"python",3+4j}
set1

{(3+4j), 1, 2.3, 'python'}

In [7]:
#set is 
set1 = {1,2,3,4,5}
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [8]:
set1.pop()
set1

{2, 3, 4, 5, 6}

In [9]:
len(set1)

5

In [10]:
max(set1)

6

In [11]:
min(set1)

2

In [ ]:
s1 = {10,11,12,13,14,15,16}
s1.update({17,18})
s1

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [25]:
s3 = {11,12,70,13,14,15}
s3.remove(70)
s3

{11, 12, 13, 14, 15}

In [28]:
s1 = {11,12,13,90,91,14,15}
s1.remove(90,91)
s1

TypeError: set.remove() takes exactly one argument (2 given)

In [30]:
s1 = {11,12,13,90,91,14,15}
s1.difference_update({90,91})
s1

{11, 12, 13, 14, 15}

set function:
1.add
2.min()
3.max()
4.len()
5.del
6.clear
5.update()
6.remove()
7.difference_update()
8.pop()
Set operations:
1.union
2.intersection
3.difference
4.symmetric difference

In [ ]:
#set not supported to +
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))

{4, 5}

In [ ]:
s1.difference(s2)#Display elements in s1 and remove elements which are coommon in s1 and s2

{1, 2, 3}

In [16]:
s2.difference(s1)

{6, 7, 8}

In [18]:
print(s1.union(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [32]:
s1={11, 12, 13, 14, 15}
print(s1)
s1.clear()
s1

{11, 12, 13, 14, 15}

set()

In [33]:
print(s1)
del s1
print(s1)

set()

NameError: name 's1' is not defined

Tuple; it is similar to list but its immutable in nature
Funtions:
1.del,min,max,count,len,sorted,+,multiplication

In [39]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [40]:
min(t1)

1

In [41]:
max(t1)

10

In [42]:
t1.count(4)

1

In [43]:
len(t1)

10

In [44]:
t2 = (2,3,1,4,5,10,9,4,6,7)
print(sorted(t2))

[1, 2, 3, 4, 4, 5, 6, 7, 9, 10]

In [48]:
print(t1)
print(t1[4])
print(t1[1:6])
print(t1[1:8:2])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
5
(2, 3, 4, 5, 6)
(2, 4, 6, 8)

Dictionary:
How to create: {key:values}
1.key()
2.values()
3.clear()
4.del
5.len
6.update
7.pop
8.how to edit value of previous key
9.how to add multiple keys 
10.how to delete multiple keys

In [52]:
dict1 = {"Name":"Abhjit",
         "Address":"Mulshi",
         "Marks":[45,44,39]
         }
dict1

{'Name': 'Abhjit', 'Address': 'Mulshi', 'Marks': [45, 44, 39]}

In [55]:
dict1.keys()
dict1.values()

dict_values(['Abhjit', 'Mulshi', [45, 44, 39]])

In [58]:
dict1["Marks"]

[45, 44, 39]

In [59]:
dict1["Address"]

'Mulshi'

In [61]:
dict2 = {"Id":[101,102,103],
         "Names" : ["Om","Pravin","Harsh"],
         "Address" :["Pune","Mumbai","Dehli"],
         "Id2":[101,102,103]}
dict2

{'Id': [101, 102, 103],
 'Names': ['Om', 'Pravin', 'Harsh'],
 'Address': ['Pune', 'Mumbai', 'Dehli'],
 'Id2': [101, 102, 103]}

In [62]:
dict1["Id2"]=[1,2,3]
dict1

{'Name': 'Abhjit',
 'Address': 'Mulshi',
 'Marks': [45, 44, 39],
 'Id2': [1, 2, 3]}

In [63]:
dict1.clear()
dict1

{}

In [65]:
del dict1
dict1

NameError: name 'dict1' is not defined

In [66]:
dict2 = {"Id":[101,102,103],
         "Names" : ["Om","Pravin","Harsh"],
         "Address" :["Pune","Mumbai","Dehli"],
         "Id2":[101,102,103]}
dict2

{'Id': [101, 102, 103],
 'Names': ['Om', 'Pravin', 'Harsh'],
 'Address': ['Pune', 'Mumbai', 'Dehli'],
 'Id2': [101, 102, 103]}

In [71]:
dict2.pop("Id")
dict2

{'Names': ['Om', 'Pravin', 'Harsh'], 'Address': ['Pune', 'Mumbai', 'Dehli']}

In [75]:
dict2.update({"id":[1,2,3,4]})
dict2

{'Names': ['Om', 'Pravin', 'Harsh'],
 'Address': ['Pune', 'Mumbai', 'Dehli'],
 'id': [1, 2, 3, 4]}

In [76]:
dict2.update({"Marks":[12,32,43],
              "subject":["Python","UI","Apti"]})
dict2

{'Names': ['Om', 'Pravin', 'Harsh'],
 'Address': ['Pune', 'Mumbai', 'Dehli'],
 'id': [1, 2, 3, 4],
 'Marks': [12, 32, 43],
 'subject': ['Python', 'UI', 'Apti']}

TypeError: unsupported operand type(s) for *: 'dict' and 'int'