In [1]:
x = 5
x

5

In [ ]:
x = 6 # 6.0
y = 3.4 # 3.4
print(x+y)

9.4

In [4]:

x = "om"
y =  23
print(x+y)

TypeError: can only concatenate str (not "int") to str

Types of TypeCasting : 1.Immplisite type casting (automatic)
                       2.Explisite type casing(manully change)

1.Immpliste Type casing:
                         1.int
                         2.float
                         3.complex
                         4.bool

In [5]:
#int+flpoat
x = 2
y = 3.4
print(x+y)

5.4

In [6]:
#int+complex
x = 23
y = 2+3j
print(x+y)

(25+3j)

In [7]:
#int+bool
x = 10
y = True
print(x+y)

11

In [9]:
#int into flaot
x = 2
y = float(x)
print(y)
print(type(y))

2.0
<class 'float'>

In [10]:
#int into complex number.
x = 20
C = complex(x)
C

(20+0j)

In [14]:
#int into bool
x = 0
y = bool(x)
y

False

In [15]:
# int into list
x = 45
list1 = list(x)
list1

TypeError: 'int' object is not iterable

In [16]:
set = set(x)
set

TypeError: 'int' object is not iterable

In [17]:
str1 = str(x)
str1

'45'

In [18]:
x=10
y=20
x+y

30

In [19]:
s_x = str(x)
s_y = str(y)
s_x+s_y

'1020'

2.Expliste type Casting:
                        1.string
                        2.List
                        3.set
                        4.tuple
                        5.dictionary

In [26]:
str1 = "Python python"
list1 = list(str1)
list1

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [22]:
str2 = "Programming"
list2 = ['P','y','t','h','o','n']
print(list(str2)+list2)

['P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', 'P', 'y', 't', 'h', 'o', 'n']

In [23]:
list2

['P', 'y', 't', 'h', 'o', 'n']

In [24]:
str3 = str(list2)
str3

"['P', 'y', 't', 'h', 'o', 'n']"

In [28]:
#string to set
print(str1)
set = set(str1)
set

Python python

TypeError: 'set' object is not callable

In [29]:
string1 = "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
set = set(string1)
set

TypeError: 'set' object is not callable

In [33]:
str1 ="abcdefgh"
set = set(list(str1))
set

TypeError: 'set' object is not callable

In [35]:
str1 = "abcdefgh"
l1 = list(str1)
print(l1)
s1 = set(l1)
s1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

TypeError: 'set' object is not callable

In [36]:
string = "Python"
s1 = set(string)
s1

TypeError: 'set' object is not callable

Expliste data type combunations:
    string                                       list
1.string----list(YES)                            1.List------string(YES)
2.string----set(YES)                             2.List-------Set(YES)
3.string----tuple(YES)                           3.List-------Tuple(YES)
4.string-----dict(NO)                            4.List--------dict(NO)

         Set                                        Tuple
1.Set----list(YES)                               1.Tuple------string(YES)
2.Set----string(YES)                             2.Tuple-------Set(YES)
3.Set----tuple(YES)                              3.Tuple-------LIST(YES)
4.Set-----dict(NO)                               4.Tuple--------dict(NO)
       
                                Dictionary
                             1.Dict-----String(YES..............)
                             2.Dict-----List(YES)
                             3.Dict-----Tuple(YES)
                             4.Dict-----Set(YES)

In [37]:
Dict1 = {"Id":[1,2,3,4],
         "Name":["Om","jay","raj","Ansh"]}
str1 = str(Dict1)
str1

"{'Id': [1, 2, 3, 4], 'Name': ['Om', 'jay', 'raj', 'Ansh']}"

In [38]:
Dict1 = {"Id":[1,2,3,4],
         "Name":["Om","jay","raj","Ansh"]}
list1 =list(Dict1)
list1

['Id', 'Name']

In [ ]:
Dict1 = {"Id":[1,2,3,4],
         "Name":["Om","jay","raj","Ansh"]}
set = set(Dict1)
set

TypeError: 'set' object is not callable

In [40]:
Dict1 = {"Id":[1,2,3,4],
         "Name":["Om","jay","raj","Ansh"]}
tuple =tuple(Dict1)
tuple

('Id', 'Name')